.awards {
  &-notification {
    height: 380px;
    background: url("../images/bg-awards-orange.png") repeat-x center;

    &__left {
      height: 100%;
      background: url("../images/photo-group-fuul.png") no-repeat;
    }
  }
}