@font-face {
  font-family: 'Bronn Rust Light';
  src: url('../fonts/subset-BronnRust-Light.woff2') format('woff2'),
  url('../fonts/subset-BronnRust-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bronn Rust Regular';
  src: url('../fonts/subset-BronnRust-Regular.woff2') format('woff2'),
  url('../fonts/subset-BronnRust-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bronn Rust Bold';
  src: url('../fonts/subset-BronnRust-BoldFill.woff2') format('woff2'),
  url('../fonts/subset-BronnRust-BoldFill.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}