.header-fest {
  flex-shrink: 0;
  position: relative;
  z-index: 4;
  background: #000;
  border: 0;
  margin-bottom: 0;
  border-radius: 0;

  @media (max-width: 1130px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 6px rgba(0,0,0,.25);
  }

  &__hold {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1433px;
    margin: 0 auto;
    height: 80px;
    z-index: 1;
    padding: 0 60px;

    @media (max-width: 1130px) {
      height: 60px;
      padding: 0 45px 0 60px;
    }

    @media (max-width: 992px) {
      padding: 0 15px 0 30px;
    }

    @media (max-width: 767px) {
      padding: 0 0 0 15px;
    }
  }

  &-logo {
    &__link {
      width: 230px;
      position: relative;
      display: block;
      text-decoration: none;
      color: #000;
      outline: none;

      @media (max-width: 767px) {
        width: 180px;
      }
    }

    &__img {
      display: block;
      width: 100%;
    }
  }

  &-menu {
    @media (max-width: 1130px) {
      display: none;
      align-items: center;
      justify-content: center;
      position: fixed;
      opacity: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: .25s;
      z-index: 1001;
    }

    &.active {
      opacity: 1;
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      @media (max-width: 1130px) {
        display: block;
        text-align: center;
      }
    }

    &__link {
      display: block;
      color: #fff;
      font-size: 16px;
      line-height: 20px;
      font-family: $ff-bb;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 15px;
      transition: .15s;
      user-select: none;
      outline: none;

      &:hover, &:active {
        outline: none;

        @media (hover: hover) {
          color: $c-orange;
          outline: none;
        }
      }

      &.active {
        color: $c-orange;
      }
    }
  }

  &-btn-menu {
    position: relative;
    float: right;
    width: 60px;
    height: 61px;
    padding: 25px 0 0 20px;
    cursor: pointer;
    display: none;

    @media (max-width: 1130px) {
      display: block;
    }

    &__line {
      position: absolute;
      display: block;
      height: 2px;
      z-index: 1;
      transition: transform .25s;

      &_first {
        top: 25px;
      }

      &_middle {
        top: 31px;
      }

      &_last {
        top: 37px;
        opacity: 1;
        transition: opacity .25s;
      }

      & svg {
        position: absolute;
        top: 0;
        left: 0;

        & path {
          fill: #ffffff !important;
        }
      }
    }

    &-close {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      align-items: center;
      justify-content: center;

      @media (max-width: 1130px) {
        display: flex;
      }

      &__ico {
        display: block;
      }
    }
  }

  &__substrate {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0;
    transition: .15s;

    &.active {
      opacity: 1;
    }
  }
}
