.new {
  animation: rotation 20s ease-in-out infinite;

  &_stage {
    display: block;
    position: absolute;
    top: -30%;
    left: -4%;
    padding: 19% 0 0 30%;
    background: url(../images/new.png) no-repeat center;
    background-size: contain;

    @media (max-width: 1440px) {
      top: -25%;
      left: 3%;
      padding: 15% 0 0 25%;
    }

    @media (max-width: 1152px) {
      top: -31%;
    }

    @media (max-width: 1100px) {
      top: -26%;
    }

    @media (max-width: 992px) {
      padding: 20% 0 0 33%;
      top: -27%;
      left: -1%;
    }

    @media (max-width: 767px) {
      position: relative;
      top: auto;
      left: auto;
      padding: 70px;
      margin: -30px 0 30px;
    }
  }

  &_rule {
    display: block;
    position: absolute;
    left: 15%;
    top: 0;
    margin: 0 30px 0 0;
    padding: 15% 0 0 25%;
    background: url(../images/new.png) no-repeat center;
    background-size: contain;

    @media (max-width: 1440px) {
      left: 10%;
    }

    @media (max-width: 1024px) {
      left: 10px;
      padding: 20% 0 0 33%;
    }

    @media (max-width: 767px) {
      display: block;
      position: relative;
      top: auto;
      left: auto;
      padding: 70px;
      margin: 30px 0;
    }
  }

  &_light {
    display: block;
    position: absolute;
    left: 20%;
    top: 0;
    margin: 0 30px 0 0;
    padding: 15% 0 0 20%;
    background: url(../images/festival/new-light.png) no-repeat center;
    background-size: contain;

    @media (max-width: 1440px) {
      padding: 20% 0 0 25%;
      left: 10%;
    }

    @media (max-width: 1024px) {
      left: 120px;
      top: 30px;
      padding: 17% 0 0 30%;
    }

    @media (max-width: 768px) {
      left: 70px;
    }

    @media (max-width: 767px) {
      display: block;
      position: relative;
      top: auto;
      left: auto;
      padding: 70px;
      margin: 30px 0;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(5deg) scale(1,1);
  }

  12% {
    transform: rotate(0deg) scale(1.1,1.1);
  }

  14% {
    transform: rotate(5deg) scale(1,1);
  }

  20% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(5deg) scale(1,1);
  }

  72% {
    transform: rotate(0deg) scale(1.1,1.1);
  }

  74% {
    transform: rotate(5deg) scale(1,1);
  }

  80% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0);
  }
}