.participants {
  padding: 3.3% 0 0;
  background: url("../images/bg-wave-skew.png") no-repeat center bottom / contain;

  @media (max-width: 767px) {
    padding: 2% 0 0;
    background: none;
  }
}

.participants-detail {
  max-width: 990px;
  margin: 0 auto;

  &__hold {
    display: flex;
  }

  &__video {
    margin: 0 0 30px;
  }

  &-photo {
    width: 316px;
    height: 316px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-name {
    font-size: 40px;
    color: #000;
    line-height: 46px;
    font-family: $ff-bb;
    word-break: break-all;
  }

  &-data {
    display: inline-flex;
    height: 26px;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background: $c-red;
    margin: 0 0 10px;

    &__ico {
      display: block;
      height: 17px;
      margin: 0 7px 0 0;
    }

    &__num {
      flex-shrink: 0;
      display: block;
      color: #fff;
      font-size: 14px;
      line-height: 14px;
      font-family: $ff-bb;
    }
  }
}