.stage {
  padding: 3.3% 0 80px;
  background: url(../images/wave.png) no-repeat center bottom;
  background-size: 120%;

  @media (max-width: 1440px) {
    padding: 2% 0 80px;
    background-size: 130%;
  }

  @media (max-width: 1340px) {
    background-size: 140%;
  }

  @media (max-width: 1152px) {
    background-size: 150%;
  }

  @media (max-width: 992px) {
    background: none;
  }

  &-logo {
    flex: 0 0 0;
    position: relative;
    padding: 23% 0 0 33%;

    @media (max-width: 1440px) {
      padding: 23% 0 0 34%;
    }

    @media (max-width: 1024px) {
      padding: 25% 0 0 39%;
    }

    @media (max-width: 992px) {
      padding: 25% 0 0 39%;
    }

    @media (max-width: 767px) {
      padding: 0 15px;
    }

    &__img {
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      @media (max-width: 767px) {
        position: relative;
        max-width: 356px;
        margin: 0 auto;
      }
    }
  }

  &-container {
    position: relative;
    max-width: 1433px;
    margin: 0 auto;
    padding: 0 60px;

    @media (max-width:  992px) {
      padding: 0 30px;
    }

    @media (max-width:  767px) {
      padding: 0 15px;
    }
  }

  &__video {

    @media (max-width: 767px) {
      margin-top: -128px;
    }
  }

  &-apple {
    position: absolute;
    top: -30%;
    right: -15%;
    padding: 10% 0 0 10%;
    background: url(../images/apple.png) no-repeat center;
    background-size: contain;

    @media (max-width: 1440px) {
      right: 2%;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &-heard{
    position: absolute;
    top: -12%;
    right: 21%;
    padding: 5% 0 0 5%;
    background: url(../images/heart.png) no-repeat center;
    background-size: contain;

    @media (max-width: 992px) {
      top: -10%;
      right: 20%;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}