.timer {
  position: relative;
  padding: 60px 0;

  @media (max-width: 992px) {
    background: $c-orange;
    margin-top: 60px;
  }

  @media (max-width: 767px) {
    margin-top: 0;
  }

  &-title {
    &__text {
      display: block;
      font-size: 32px;
      line-height: 36px;
      font-family: $ff-bb;
      color: #253683;
      text-align: center;

      @media (max-width: 1440px) {
        font-size: 30px;
        line-height: 34px;
      }

      @media (max-width: 992px) {
        font-size: 28px;
        line-height: 34px;
      }

      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  &-star {
    position: absolute;
    right: 80px;
    top: 100px;
    display: block;
    padding: 8% 0 0 8%;
    background: url("../images/star.png") no-repeat center;
    background-size: contain;

    @media (max-width: 1024px) {
      right: 60px;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }
}