.title-page {
  &-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;

    @media (max-width: 767px) {
      display: block;
      height: auto;
      margin: 0 0 60px;
    }

    &_premium {
      height: 520px;
      align-items: flex-end;
      padding: 0 0 60px;

      @media (max-width: 1440px) {
        height: 450px;
      }

      @media (max-width: 1366px) {
        height: 430px;
      }

      @media (max-width: 1280px) {
        height: 420px;
      }

      @media (max-width:  1152px) {
        height: 380px;
      }

      @media (max-width:  992px) {
        height: 320px;
      }

      @media (max-width: 767px) {
        display: block;
        height: auto;
        margin: 0;
        padding: 0 0 50px;
      }
    }

    &_stage {
      height: 510px;
      align-items: flex-end;
      padding: 0 0 60px;

      @media (max-width: 1440px) {
        height: 420px;
      }

      @media (max-width: 1366px) {
        height: 430px;
      }

      @media (max-width: 1280px) {
        height: 420px;
      }

      @media (max-width:  1152px) {
        height: 350px;
      }

      @media (max-width:  992px) {
        height: 286px;
      }

      @media (max-width: 767px) {
        display: block;
        height: auto;
        margin: 0;
        padding: 0 0 50px;
      }
    }
  }

  &_black {
    flex-shrink: 0;
    width: 260px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/title-black.png) no-repeat center;
    background-size: contain;
    margin: 0 auto;

    & .title-page__text {
      color: #fff;
    }
  }

  &_white {
    flex-shrink: 0;
    width: 260px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/title-white.png) no-repeat center;
    background-size: contain;
    margin: 0 auto;

    & .title-page__text {
      color: #000;
    }
  }

  &_orange {
    flex-shrink: 0;
    width: 285px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/title-orange.png) no-repeat center;
    background-size: contain;
    margin: 0 auto;

    & .title-page__text {
      color: #000;
    }
  }

  &__text {
    font-size: 30px;
    line-height: 34px;
    font-family: $ff-bb;
  }
}