$ff-bl: 'Bronn Rust Light', sans-serif;
$ff-br: 'Bronn Rust Regular', sans-serif;
$ff-bb: 'Bronn Rust Bold', sans-serif;

$c-pink: #ff808b;
$c-orange: #ff8f1c;
$c-red: #e03e52;

$bg-red: url('/public/images/bg-red.png');
