.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;

  @media (max-width: 1130px) {
    padding: 60px 0 0;
  }

  &_p-n {
    padding: 0;
  }

  &_bg-red {
    background: url(../images/bg-red.png);
    background-size: 50%;
  }

  &_bg-jury {
    background: $c-red;
  }

  &_bg-c-red {
    background: $c-red;
  }
}