html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

optgroup {
  font-weight: bold; }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.footer-light-btn-feedback, .age-answer-options-yes, .age-answer-options-no {
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  position: relative;
  top: 2px; }
  .footer-light-btn-feedback:hover, .age-answer-options-yes:hover, .age-answer-options-no:hover {
    outline: none; }
    @media (hover: hover) {
      .footer-light-btn-feedback:hover, .age-answer-options-yes:hover, .age-answer-options-no:hover {
        text-decoration: none;
        cursor: pointer; } }
  .footer-light-btn-feedback:focus, .age-answer-options-yes:focus, .age-answer-options-no:focus, .footer-light-btn-feedback:active, .age-answer-options-yes:active, .age-answer-options-no:active {
    text-decoration: none;
    outline: none; }

@font-face {
  font-family: 'Bronn Rust Light';
  src: url("../fonts/subset-BronnRust-Light.woff2") format("woff2"), url("../fonts/subset-BronnRust-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bronn Rust Regular';
  src: url("../fonts/subset-BronnRust-Regular.woff2") format("woff2"), url("../fonts/subset-BronnRust-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bronn Rust Bold';
  src: url("../fonts/subset-BronnRust-BoldFill.woff2") format("woff2"), url("../fonts/subset-BronnRust-BoldFill.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden; }
  .wrapper_bg-red {
    background: url(../images/bg-red.png);
    -webkit-background-size: 50% 50%;
            background-size: 50%; }

.warning {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 0 30px; }
  @media (max-width: 767px) {
    .warning {
      height: 50px; } }
  @media (max-width: 375px) {
    .warning {
      padding: 0 15px; } }
  .warning__text {
    display: block;
    font-size: 26px;
    line-height: 30px;
    font-family: "Bronn Rust Light", sans-serif;
    text-transform: uppercase;
    margin: 0 15px 0 0; }
    @media (max-width: 1260px) {
      .warning__text {
        font-size: 24px;
        line-height: 20px; } }
    @media (max-width: 1000px) {
      .warning__text {
        font-size: 18px;
        line-height: 24px; } }
    @media (max-width: 767px) {
      .warning__text {
        font-size: 13px;
        line-height: 18px;
        margin: 0 20px 0 0; } }
  .warning__ico-wrap {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    display: block;
    width: 36px; }
    @media (max-width: 1260px) {
      .warning__ico-wrap {
        width: 36px; } }
    @media (max-width: 767px) {
      .warning__ico-wrap {
        width: 32px; } }
  .warning__ico {
    display: block;
    width: 100%; }

.footer-light {
  position: relative;
  z-index: 1; }
  .footer-light__hold {
    max-width: 1433px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 60px;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .footer-light__hold {
        padding: 16px 30px; } }
    @media (max-width: 767px) {
      .footer-light__hold {
        display: block;
        text-align: center;
        padding: 16px 0 0; } }
  .footer-light__left, .footer-light__right {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .footer-light-btn-feedback {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 2px solid #fff;
    height: 32px; }
    @media (max-width: 767px) {
      .footer-light-btn-feedback {
        margin-bottom: 10px; } }
    @media (hover: hover) {
      .footer-light-btn-feedback:hover, .footer-light-btn-feedback:active {
        background: #000;
        border-color: #000;
        cursor: pointer; } }
    .footer-light-btn-feedback__text {
      position: relative;
      top: 2px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #fff;
      text-transform: uppercase;
      font-family: "Bronn Rust Bold", sans-serif;
      font-size: 12px;
      text-decoration: none; }
  .footer-light-logo-list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .footer-light-logo-list__item {
      display: inline-block;
      margin: 0 10px 0 0;
      vertical-align: middle; }
    .footer-light-logo-list__link {
      display: inline-block;
      overflow: hidden;
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
      -webkit-transition: -webkit-transform .25s;
      transition: -webkit-transform .25s;
      -o-transition: transform .25s;
      transition: transform .25s;
      transition: transform .25s, -webkit-transform .25s; }
      @media (hover: hover) {
        .footer-light-logo-list__link:hover {
          -webkit-transform: scale3d(1.25, 1.25, 1.25);
                  transform: scale3d(1.25, 1.25, 1.25); } }
      .footer-light-logo-list__link_sziget {
        width: 100px; }
    .footer-light-logo-list__img_cider {
      width: 86px; }
    .footer-light-logo-list__img_sziget {
      width: 150px;
      margin: 0 0 0 -25px; }
    .footer-light-logo-list__img_oddee {
      width: 84px;
      height: 24px; }

.main {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding: 0 60px; }
  @media (max-width: 1440px) {
    .main {
      padding: 0; } }
  .main_bg-wave {
    background: url(../images/wave.png) no-repeat center bottom;
    -webkit-background-size: 120% 120%;
            background-size: 120%; }
    @media (max-width: 1440px) {
      .main_bg-wave {
        -webkit-background-size: 130% 130%;
                background-size: 130%;
        padding: 0; } }
    @media (max-width: 1340px) {
      .main_bg-wave {
        -webkit-background-size: 140% 140%;
                background-size: 140%; } }
    @media (max-width: 1152px) {
      .main_bg-wave {
        -webkit-background-size: 150% 150%;
                background-size: 150%; } }
    @media (max-width: 992px) {
      .main_bg-wave {
        background: none; } }
  .main_bg-pattern {
    background: url(../images/pattern.png) no-repeat left bottom, url(../images/rainbow.png) no-repeat right -20px top 150px; }
    @media (max-width: 1440px) {
      .main_bg-pattern {
        -webkit-background-size: auto, 20%;
                background-size: auto, 20%; } }
    @media (max-width: 1152px) {
      .main_bg-pattern {
        -webkit-background-size: 20%, 20%;
                background-size: 20%, 20%; } }

.title {
  padding: 3.3% 30px 0; }
  @media (max-width: 1440px) {
    .title {
      padding: 2% 30px 0; } }
  .title-logo {
    width: 448px;
    margin: 0 auto; }
    @media (max-width: 1440px) {
      .title-logo {
        width: 300px; } }
    @media (max-width: 768px) {
      .title-logo {
        width: 50%; } }
    @media (max-width: 767px) {
      .title-logo {
        width: 210px; } }
    .title-logo__img {
      display: block;
      width: 100%; }

.age {
  display: block; }
  .age-wrapper {
    margin: 0 auto; }
  .age-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .age-not-allowed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 60%;
    margin: auto;
    text-align: center; }
    @media (max-width: 767px) {
      .age-not-allowed {
        width: 100%; } }
    .age-not-allowed__text {
      color: #fff;
      font-family: "Bronn Rust Bold", sans-serif;
      font-size: 46px;
      line-height: 86px;
      text-transform: uppercase; }
      @media (max-width: 1440px) {
        .age-not-allowed__text {
          font-size: 32px;
          line-height: 70px; } }
      @media (max-width: 767px) {
        .age-not-allowed__text {
          font-size: 22px;
          line-height: 40px; } }
  .age-question {
    text-align: center; }
    .age-question__text {
      font-size: 56px;
      line-height: 66px;
      color: #fff;
      font-family: "Bronn Rust Bold", sans-serif;
      text-transform: uppercase; }
      @media (max-width: 1680px) {
        .age-question__text {
          font-size: 48px;
          line-height: 58px; } }
      @media (max-width: 1560px) {
        .age-question__text {
          font-size: 46px;
          line-height: 56px; } }
      @media (max-width: 1440px) {
        .age-question__text {
          font-size: 42px;
          line-height: 52px; } }
      @media (max-width: 1366px) {
        .age-question__text {
          font-size: 38px;
          line-height: 46px; } }
      @media (max-width: 1340px) {
        .age-question__text {
          font-size: 36px;
          line-height: 46px; } }
      @media (max-width: 767px) {
        .age-question__text {
          font-size: 28px;
          line-height: 36px; } }
  .age-answer-options__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px 0; }
    @media (max-width: 767px) {
      .age-answer-options__button {
        padding: 10px 0; } }
  .age-answer-options-yes {
    width: 130px;
    height: 80px;
    border: 0;
    background: url("../images/bg-btn-white.png") no-repeat center;
    -webkit-background-size: contain;
            background-size: contain;
    padding: 0; }
    @media (hover: hover) {
      .age-answer-options-yes:hover {
        -webkit-transform: scale3d(1.25, 1.25, 1.25);
                transform: scale3d(1.25, 1.25, 1.25); } }
    @media (max-width: 1680px) {
      .age-answer-options-yes {
        width: 120px;
        height: 74px; } }
    @media (max-width: 1560px) {
      .age-answer-options-yes {
        width: 115px;
        height: 70px; } }
    @media (max-width: 1440px) {
      .age-answer-options-yes {
        width: 110px;
        height: 64px; } }
    @media (max-width: 1340px) {
      .age-answer-options-yes {
        width: 110px;
        height: 64px; } }
    @media (max-width: 767px) {
      .age-answer-options-yes {
        width: 76px;
        height: 48px; } }
    .age-answer-options-yes__text {
      position: relative;
      top: 5px;
      left: 5px;
      display: block;
      font-size: 46px;
      line-height: 46px;
      color: #000;
      font-family: "Bronn Rust Bold", sans-serif;
      text-transform: uppercase;
      padding: 5px; }
      @media (max-width: 1680px) {
        .age-answer-options-yes__text {
          font-size: 40px;
          line-height: 40px; } }
      @media (max-width: 1560px) {
        .age-answer-options-yes__text {
          font-size: 36px;
          line-height: 36px; } }
      @media (max-width: 1440px) {
        .age-answer-options-yes__text {
          font-size: 32px;
          line-height: 32px; } }
      @media (max-width: 1340px) {
        .age-answer-options-yes__text {
          font-size: 32px;
          line-height: 32px; } }
      @media (max-width: 767px) {
        .age-answer-options-yes__text {
          font-size: 24px;
          line-height: 24px; } }
  .age-answer-options-no {
    width: 90px;
    height: 52px;
    border: 0;
    background: url("../images/bg-btn-gray.png") no-repeat center;
    -webkit-background-size: contain;
            background-size: contain;
    padding: 0; }
    @media (hover: hover) {
      .age-answer-options-no:hover {
        -webkit-transform: scale3d(1.25, 1.25, 1.25);
                transform: scale3d(1.25, 1.25, 1.25); } }
    @media (max-width: 1680px) {
      .age-answer-options-no {
        width: 84px;
        height: 52px; } }
    @media (max-width: 1560px) {
      .age-answer-options-no {
        width: 80px;
        height: 52px; } }
    @media (max-width: 1440px) {
      .age-answer-options-no {
        width: 74px;
        height: 42px; } }
    @media (max-width: 1340px) {
      .age-answer-options-no {
        width: 74px;
        height: 42px; } }
    @media (max-width: 767px) {
      .age-answer-options-no {
        width: 54px;
        height: 32px; } }
    .age-answer-options-no__text {
      display: block;
      font-size: 32px;
      line-height: 32px;
      color: #000;
      font-family: "Bronn Rust Bold", sans-serif;
      text-transform: uppercase;
      padding: 5px; }
      @media (max-width: 1680px) {
        .age-answer-options-no__text {
          font-size: 31px;
          line-height: 31px; } }
      @media (max-width: 1560px) {
        .age-answer-options-no__text {
          font-size: 30px;
          line-height: 30px; } }
      @media (max-width: 1440px) {
        .age-answer-options-no__text {
          font-size: 28px;
          line-height: 28px; } }
      @media (max-width: 1340px) {
        .age-answer-options-no__text {
          font-size: 28px;
          line-height: 28px; } }
      @media (max-width: 767px) {
        .age-answer-options-no__text {
          font-size: 21px;
          line-height: 21px; } }

.popup {
  position: relative;
  height: 248px;
  margin: -80px 0 0; }
  @media (max-width: 1440px) {
    .popup {
      height: 140px; } }
  @media (max-width: 767px) {
    .popup {
      height: 156px;
      margin: -54px 0 0; } }

.fade-enter {
  opacity: 0; }
  .fade-enter-active {
    opacity: 1;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }

.fade-exit {
  opacity: 1; }
  .fade-exit-active {
    opacity: 0;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }

.splash {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50%;
  overflow: hidden; }
  @media (max-width: 1024px) {
    .splash {
      width: 60%; } }
  @media (max-width: 768px) {
    .splash {
      width: 70%; } }
  @media (max-width: 767px) {
    .splash {
      width: 300px; } }
  .splash__img {
    display: block;
    width: 100%;
    margin-bottom: -50%; }
