html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

optgroup {
  font-weight: bold; }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.footer-btn-feedback {
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  position: relative;
  top: 2px; }
  .footer-btn-feedback:hover {
    outline: none; }
    @media (hover: hover) {
      .footer-btn-feedback:hover {
        text-decoration: none;
        cursor: pointer; } }
  .footer-btn-feedback:focus, .footer-btn-feedback:active {
    text-decoration: none;
    outline: none; }

@font-face {
  font-family: 'Bronn Rust Light';
  src: url("../fonts/subset-BronnRust-Light.woff2") format("woff2"), url("../fonts/subset-BronnRust-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bronn Rust Regular';
  src: url("../fonts/subset-BronnRust-Regular.woff2") format("woff2"), url("../fonts/subset-BronnRust-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bronn Rust Bold';
  src: url("../fonts/subset-BronnRust-BoldFill.woff2") format("woff2"), url("../fonts/subset-BronnRust-BoldFill.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden; }
  @media (max-width: 1130px) {
    .wrapper {
      padding: 60px 0 0; } }
  .wrapper_p-n {
    padding: 0; }
  .wrapper_bg-red {
    background: url(../images/bg-red.png);
    -webkit-background-size: 50% 50%;
            background-size: 50%; }
  .wrapper_bg-jury {
    background: #e03e52; }
  .wrapper_bg-c-red {
    background: #e03e52; }

.header-fest {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
  z-index: 4;
  background: #000;
  border: 0;
  margin-bottom: 0;
  -webkit-border-radius: 0;
          border-radius: 0; }
  @media (max-width: 1130px) {
    .header-fest {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
              box-shadow: 0 0 6px rgba(0, 0, 0, 0.25); } }
  .header-fest__hold {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1433px;
    margin: 0 auto;
    height: 80px;
    z-index: 1;
    padding: 0 60px; }
    @media (max-width: 1130px) {
      .header-fest__hold {
        height: 60px;
        padding: 0 45px 0 60px; } }
    @media (max-width: 992px) {
      .header-fest__hold {
        padding: 0 15px 0 30px; } }
    @media (max-width: 767px) {
      .header-fest__hold {
        padding: 0 0 0 15px; } }
  .header-fest-logo__link {
    width: 230px;
    position: relative;
    display: block;
    text-decoration: none;
    color: #000;
    outline: none; }
    @media (max-width: 767px) {
      .header-fest-logo__link {
        width: 180px; } }
  .header-fest-logo__img {
    display: block;
    width: 100%; }
  @media (max-width: 1130px) {
    .header-fest-menu {
      display: none;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: fixed;
      opacity: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-transition: .25s;
      -o-transition: .25s;
      transition: .25s;
      z-index: 1001; } }
  .header-fest-menu.active {
    opacity: 1; }
  .header-fest-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1130px) {
      .header-fest-menu__list {
        display: block;
        text-align: center; } }
  .header-fest-menu__link {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-family: "Bronn Rust Bold", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none; }
    .header-fest-menu__link:hover, .header-fest-menu__link:active {
      outline: none; }
      @media (hover: hover) {
        .header-fest-menu__link:hover, .header-fest-menu__link:active {
          color: #ff8f1c;
          outline: none; } }
    .header-fest-menu__link.active {
      color: #ff8f1c; }
  .header-fest-btn-menu {
    position: relative;
    float: right;
    width: 60px;
    height: 61px;
    padding: 25px 0 0 20px;
    cursor: pointer;
    display: none; }
    @media (max-width: 1130px) {
      .header-fest-btn-menu {
        display: block; } }
    .header-fest-btn-menu__line {
      position: absolute;
      display: block;
      height: 2px;
      z-index: 1;
      -webkit-transition: -webkit-transform .25s;
      transition: -webkit-transform .25s;
      -o-transition: transform .25s;
      transition: transform .25s;
      transition: transform .25s, -webkit-transform .25s; }
      .header-fest-btn-menu__line_first {
        top: 25px; }
      .header-fest-btn-menu__line_middle {
        top: 31px; }
      .header-fest-btn-menu__line_last {
        top: 37px;
        opacity: 1;
        -webkit-transition: opacity .25s;
        -o-transition: opacity .25s;
        transition: opacity .25s; }
      .header-fest-btn-menu__line svg {
        position: absolute;
        top: 0;
        left: 0; }
        .header-fest-btn-menu__line svg path {
          fill: #ffffff !important; }
    .header-fest-btn-menu-close {
      display: none;
      position: absolute;
      top: 0;
      right: 45px;
      width: 60px;
      height: 60px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media (max-width: 1130px) {
        .header-fest-btn-menu-close {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; } }
      @media (max-width: 992px) {
        .header-fest-btn-menu-close {
          right: 15px; } }
      @media (max-width: 767px) {
        .header-fest-btn-menu-close {
          right: 0; } }
      .header-fest-btn-menu-close__ico {
        display: block; }
  .header-fest__substrate {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s; }
    .header-fest__substrate.active {
      opacity: 1; }

.main {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding: 0 60px; }
  @media (max-width: 1440px) {
    .main {
      padding: 0; } }
  .main_bg-wave {
    background: url(../images/wave.png) no-repeat center bottom;
    -webkit-background-size: 120% 120%;
            background-size: 120%; }
    @media (max-width: 1440px) {
      .main_bg-wave {
        -webkit-background-size: 130% 130%;
                background-size: 130%;
        padding: 0; } }
    @media (max-width: 1340px) {
      .main_bg-wave {
        -webkit-background-size: 140% 140%;
                background-size: 140%; } }
    @media (max-width: 1152px) {
      .main_bg-wave {
        -webkit-background-size: 150% 150%;
                background-size: 150%; } }
    @media (max-width: 992px) {
      .main_bg-wave {
        background: none; } }
  .main_bg-pattern {
    background: url(../images/pattern.png) no-repeat left bottom, url(../images/rainbow.png) no-repeat right -20px top 150px; }
    @media (max-width: 1440px) {
      .main_bg-pattern {
        -webkit-background-size: auto, 20%;
                background-size: auto, 20%; } }
    @media (max-width: 1152px) {
      .main_bg-pattern {
        -webkit-background-size: 20%, 20%;
                background-size: 20%, 20%; } }
    @media (max-width: 767px) {
      .main_bg-pattern {
        background: url(../images/pattern.png) no-repeat left bottom;
        -webkit-background-size: 23% 23%;
                background-size: 23%; } }

.new {
  -webkit-animation: rotation 20s ease-in-out infinite;
          animation: rotation 20s ease-in-out infinite; }
  .new_stage {
    display: block;
    position: absolute;
    top: -30%;
    left: -4%;
    padding: 19% 0 0 30%;
    background: url(../images/new.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }
    @media (max-width: 1440px) {
      .new_stage {
        top: -25%;
        left: 3%;
        padding: 15% 0 0 25%; } }
    @media (max-width: 1152px) {
      .new_stage {
        top: -31%; } }
    @media (max-width: 1100px) {
      .new_stage {
        top: -26%; } }
    @media (max-width: 992px) {
      .new_stage {
        padding: 20% 0 0 33%;
        top: -27%;
        left: -1%; } }
    @media (max-width: 767px) {
      .new_stage {
        position: relative;
        top: auto;
        left: auto;
        padding: 70px;
        margin: -30px 0 30px; } }
  .new_rule {
    display: block;
    position: absolute;
    left: 15%;
    top: 0;
    margin: 0 30px 0 0;
    padding: 15% 0 0 25%;
    background: url(../images/new.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }
    @media (max-width: 1440px) {
      .new_rule {
        left: 10%; } }
    @media (max-width: 1024px) {
      .new_rule {
        left: 10px;
        padding: 20% 0 0 33%; } }
    @media (max-width: 767px) {
      .new_rule {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        padding: 70px;
        margin: 30px 0; } }
  .new_light {
    display: block;
    position: absolute;
    left: 20%;
    top: 0;
    margin: 0 30px 0 0;
    padding: 15% 0 0 20%;
    background: url(../images/festival/new-light.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }
    @media (max-width: 1440px) {
      .new_light {
        padding: 20% 0 0 25%;
        left: 10%; } }
    @media (max-width: 1024px) {
      .new_light {
        left: 120px;
        top: 30px;
        padding: 17% 0 0 30%; } }
    @media (max-width: 768px) {
      .new_light {
        left: 70px; } }
    @media (max-width: 767px) {
      .new_light {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        padding: 70px;
        margin: 30px 0; } }

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  10% {
    -webkit-transform: rotate(5deg) scale(1, 1);
            transform: rotate(5deg) scale(1, 1); }
  12% {
    -webkit-transform: rotate(0deg) scale(1.1, 1.1);
            transform: rotate(0deg) scale(1.1, 1.1); }
  14% {
    -webkit-transform: rotate(5deg) scale(1, 1);
            transform: rotate(5deg) scale(1, 1); }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  30% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  70% {
    -webkit-transform: rotate(5deg) scale(1, 1);
            transform: rotate(5deg) scale(1, 1); }
  72% {
    -webkit-transform: rotate(0deg) scale(1.1, 1.1);
            transform: rotate(0deg) scale(1.1, 1.1); }
  74% {
    -webkit-transform: rotate(5deg) scale(1, 1);
            transform: rotate(5deg) scale(1, 1); }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  90% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  10% {
    -webkit-transform: rotate(5deg) scale(1, 1);
            transform: rotate(5deg) scale(1, 1); }
  12% {
    -webkit-transform: rotate(0deg) scale(1.1, 1.1);
            transform: rotate(0deg) scale(1.1, 1.1); }
  14% {
    -webkit-transform: rotate(5deg) scale(1, 1);
            transform: rotate(5deg) scale(1, 1); }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  30% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  70% {
    -webkit-transform: rotate(5deg) scale(1, 1);
            transform: rotate(5deg) scale(1, 1); }
  72% {
    -webkit-transform: rotate(0deg) scale(1.1, 1.1);
            transform: rotate(0deg) scale(1.1, 1.1); }
  74% {
    -webkit-transform: rotate(5deg) scale(1, 1);
            transform: rotate(5deg) scale(1, 1); }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  90% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

.title-page-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px; }
  .title-page-wrapper_premium {
    height: 520px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0 0 60px; }
    @media (max-width: 1440px) {
      .title-page-wrapper_premium {
        height: 450px; } }
    @media (max-width: 1366px) {
      .title-page-wrapper_premium {
        height: 430px; } }
    @media (max-width: 1280px) {
      .title-page-wrapper_premium {
        height: 420px; } }
    @media (max-width: 1152px) {
      .title-page-wrapper_premium {
        height: 380px; } }
  @media (max-width: 767px) {
    .title-page-wrapper {
      display: block;
      height: auto;
      margin: 0 0 60px; } }

.title-page_black {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 260px;
  height: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/title-black.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  margin: 0 auto; }
  .title-page_black .title-page__text {
    color: #fff; }

.title-page_white {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 260px;
  height: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/title-white.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  margin: 0 auto; }
  .title-page_white .title-page__text {
    color: #000; }

.title-page__text {
  font-size: 30px;
  line-height: 34px;
  font-family: "Bronn Rust Bold", sans-serif; }

.rules {
  padding: 3.3% 60px 100px; }
  @media (max-width: 767px) {
    .rules {
      padding: 2% 15px 60px; } }
  .rules-list {
    max-width: 990px;
    margin: 0 auto; }
  .rules-description-list {
    padding: 0;
    margin: 0; }
    @media (max-width: 767px) {
      .rules-description-list {
        padding: 0 0 0 15px; } }
  .rules-description-item {
    padding: 0 0 0 15px; }
    @media (max-width: 767px) {
      .rules-description-item {
        padding: 0; } }
    .rules-description-item__text {
      font-size: 18px;
      line-height: 32px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      margin: 0; }
      @media (max-width: 767px) {
        .rules-description-item__text {
          font-size: 16px;
          line-height: 29px; } }
      .rules-description-item__text_bold {
        font-weight: 700; }
  .rules-item {
    position: relative;
    padding: 0 0 120px; }
    @media (max-width: 767px) {
      .rules-item {
        padding: 0 0 80px; } }
    .rules-item:after {
      content: '';
      position: absolute;
      bottom: 48px;
      left: 0;
      right: 0;
      margin: auto;
      display: block;
      width: 36px;
      height: 61px;
      background: url(../images/arrow-down.png) no-repeat center;
      -webkit-background-size: contain;
              background-size: contain; }
      @media (max-width: 767px) {
        .rules-item:after {
          bottom: 30px;
          width: 24px; } }
    .rules-item:last-child:after {
      display: none; }
    .rules-item__header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .rules-item__body {
      padding: 40px 0; }
      @media (max-width: 767px) {
        .rules-item__body {
          padding: 20px 0 40px; } }
    .rules-item__box {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media (max-width: 767px) {
        .rules-item__box {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
    .rules-item-index {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 74px;
      height: 74px;
      background: url(../images/bg-number.png) no-repeat center;
      -webkit-background-size: contain;
              background-size: contain;
      margin: 0 0 5px; }
      .rules-item-index__num {
        display: block;
        position: relative;
        top: -2px;
        font-size: 46px;
        line-height: 54px;
        font-family: "Bronn Rust Bold", sans-serif;
        color: #fff; }
        @media (max-width: 767px) {
          .rules-item-index__num {
            font-size: 39px;
            line-height: 45px; } }
    .rules-item-date {
      position: absolute;
      left: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 260px;
      height: 44px;
      background: url(../images/bg-date-big.png) no-repeat center;
      -webkit-background-size: contain;
              background-size: contain;
      margin: 0 0 0 10px; }
      @media (max-width: 767px) {
        .rules-item-date {
          position: relative;
          left: auto; } }
      .rules-item-date__num {
        font-size: 18px;
        line-height: 26px;
        font-family: "Bronn Rust Bold", sans-serif;
        color: #000; }
    .rules-item-title__text {
      font-size: 30px;
      line-height: 36px;
      font-family: "Bronn Rust Bold", sans-serif;
      color: #000; }
    @media (max-width: 767px) {
      .rules-item-title {
        padding: 10px 0; } }
  .rules-item-more {
    padding: 40px 0 0;
    text-align: center; }
    .rules-item-more__link {
      text-decoration: underline;
      font-size: 18px;
      line-height: 24px;
      font-family: "Bronn Rust Bold", sans-serif;
      color: #000; }
  .rules-more {
    text-align: center;
    max-width: 990px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .rules-more {
        margin: -40px auto 0; } }
    .rules-more__text {
      display: block;
      font-size: 20px;
      line-height: 25px;
      font-family: "Bronn Rust Bold", sans-serif;
      color: #e03e52; }
      @media (max-width: 767px) {
        .rules-more__text {
          font-size: 18px; } }
    .rules-more__link {
      text-decoration: underline;
      font-size: 20px;
      line-height: 25px;
      font-family: "Bronn Rust Bold", sans-serif;
      color: #000;
      -webkit-transition: .15s;
      -o-transition: .15s;
      transition: .15s; }
      @media (max-width: 767px) {
        .rules-more__link {
          font-size: 18px; } }
      @media (hover: hover) {
        .rules-more__link:hover {
          color: #ff8f1c;
          text-decoration: none; } }
  .rules-soc-net {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 0; }

.soc-net-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.soc-net-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .soc-net-list {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; } }
  .soc-net-list__item {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin: 0 18px 0 0; }
    .soc-net-list__item:last-child {
      margin: 0; }

.soc-net-link {
  text-decoration: none;
  outline: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }
  @media (hover: hover) {
    .soc-net-link:hover {
      -webkit-transform: scale3d(1.25, 1.25, 1.25);
              transform: scale3d(1.25, 1.25, 1.25); } }
  .soc-net-link__ico {
    display: block;
    width: 25px; }
  .soc-net-link__img {
    display: block;
    max-width: 100%;
    max-height: 100%; }

.footer {
  background: #000;
  overflow: hidden; }
  .footer__hold {
    max-width: 1433px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 80px 0 50px; }
    @media (max-width: 1440px) {
      .footer__hold {
        padding: 80px 60px 50px; } }
    @media (max-width: 1024px) {
      .footer__hold {
        padding: 60px 60px 40px; } }
    @media (max-width: 992px) {
      .footer__hold {
        padding: 60px 30px 40px; } }
    @media (max-width: 767px) {
      .footer__hold {
        display: block;
        text-align: center;
        padding: 60px 0 40px; } }
  .footer__right {
    padding: 60px 0 0; }
  .footer__title {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Bronn Rust Bold", sans-serif;
    margin: 0 0 15px;
    padding: 5px 0;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s; }
    @media (hover: hover) {
      .footer__title:hover, .footer__title:active {
        color: #ff8f1c; } }
  .footer-btn-feedback {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 2px solid #fff;
    height: 32px;
    margin: 0 0 50px; }
    @media (hover: hover) {
      .footer-btn-feedback:hover, .footer-btn-feedback:active {
        background: #fff;
        cursor: pointer; } }
    .footer-btn-feedback:hover .footer-btn-feedback__text, .footer-btn-feedback:active .footer-btn-feedback__text {
      color: #000; }
    .footer-btn-feedback__text {
      position: relative;
      top: 1px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #fff;
      text-transform: uppercase;
      font-family: "Bronn Rust Bold", sans-serif;
      font-size: 12px;
      text-decoration: none; }

.logo-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .logo-list__item {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle; }
  .logo-list__link {
    display: inline-block;
    overflow: hidden;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
    @media (hover: hover) {
      .logo-list__link:hover {
        -webkit-transform: scale3d(1.25, 1.25, 1.25);
                transform: scale3d(1.25, 1.25, 1.25); } }
    .logo-list__link_sziget {
      width: 100px; }
  .logo-list__img_cider {
    width: 86px; }
  .logo-list__img_sziget {
    width: 150px;
    margin: 0 0 0 -25px; }
  .logo-list__img_oddee {
    width: 84px;
    height: 24px; }

.warning {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 0 30px; }
  @media (max-width: 767px) {
    .warning {
      height: 50px; } }
  @media (max-width: 375px) {
    .warning {
      padding: 0 15px; } }
  .warning__text {
    display: block;
    font-size: 26px;
    line-height: 30px;
    font-family: "Bronn Rust Light", sans-serif;
    text-transform: uppercase;
    margin: 0 15px 0 0; }
    @media (max-width: 1260px) {
      .warning__text {
        font-size: 24px;
        line-height: 20px; } }
    @media (max-width: 1000px) {
      .warning__text {
        font-size: 18px;
        line-height: 24px; } }
    @media (max-width: 767px) {
      .warning__text {
        font-size: 13px;
        line-height: 18px;
        margin: 0 20px 0 0; } }
  .warning__ico-wrap {
    position: relative;
    text-decoration: none;
    outline: none;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    display: block;
    width: 36px;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s; }
    .warning__ico-wrap:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      background: #ff8f1c;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      opacity: 0;
      top: -50%;
      bottom: -50%;
      right: -50%;
      left: -50%;
      margin: auto; }
    .warning__ico-wrap:before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: .15s;
      -o-transition: .15s;
      transition: .15s;
      top: -50%;
      bottom: -50%;
      right: -50%;
      left: -50%;
      margin: auto;
      -webkit-animation: pulse 1.7s infinite;
              animation: pulse 1.7s infinite;
      -webkit-box-shadow: 0 0 20px 0 #ff8f1c;
              box-shadow: 0 0 20px 0 #ff8f1c; }
    @media (hover: hover) {
      .warning__ico-wrap:hover:after {
        width: 58px;
        height: 58px;
        opacity: 1; } }
    @media (max-width: 767px) {
      .warning__ico-wrap {
        width: 32px; } }
  .warning__ico {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%; }

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  10% {
    opacity: .2;
    width: 10px;
    height: 10px; }
  20% {
    opacity: .4;
    width: 20px;
    height: 20px; }
  30% {
    opacity: .6;
    width: 30px;
    height: 30px; }
  40% {
    opacity: .8;
    width: 40px;
    height: 40px; }
  50% {
    opacity: 1;
    width: 50px;
    height: 50px; }
  60% {
    opacity: .8;
    width: 40px;
    height: 40px; }
  70% {
    opacity: .6;
    width: 30px;
    height: 30px; }
  80% {
    opacity: .4;
    width: 20px;
    height: 20px; }
  90% {
    opacity: .2;
    width: 10px;
    height: 10px; }
  100% {
    opacity: 0;
    width: 0;
    height: 0; } }

@keyframes pulse {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  10% {
    opacity: .2;
    width: 10px;
    height: 10px; }
  20% {
    opacity: .4;
    width: 20px;
    height: 20px; }
  30% {
    opacity: .6;
    width: 30px;
    height: 30px; }
  40% {
    opacity: .8;
    width: 40px;
    height: 40px; }
  50% {
    opacity: 1;
    width: 50px;
    height: 50px; }
  60% {
    opacity: .8;
    width: 40px;
    height: 40px; }
  70% {
    opacity: .6;
    width: 30px;
    height: 30px; }
  80% {
    opacity: .4;
    width: 20px;
    height: 20px; }
  90% {
    opacity: .2;
    width: 10px;
    height: 10px; }
  100% {
    opacity: 0;
    width: 0;
    height: 0; } }
