.awards {
  position: relative;
  max-width: 1433px;
  margin: 0 auto;

  &__video {
    margin-top: -80px;

    @media (max-width: 1440px) {
      width: 70%;
      margin: -80px auto 0;
    }

    @media (max-width: 992px) {
      width: auto;
      padding: 0 30px;
    }

    @media (max-width: 767px) {
      margin-top: 0;
      padding: 0;
    }
  }

  &-apple {
    position: absolute;
    top: -30%;
    right: -15%;
    padding: 10% 0 0 10%;
    background: url(../../images/apple.png) no-repeat center;
    background-size: contain;

    @media (max-width: 1440px) {
      right: 2%;
    }

    @media (max-width: 767px) {
      top: -25%;
    }
  }

  &-heard{
    position: absolute;
    top: -15%;
    right: 25%;
    padding: 5% 0 0 5%;
    background: url(../../images/heard.png) no-repeat center;
    background-size: contain;

    @media (max-width: 992px) {
      right: 20%;
    }
  }
}