.media-box {
  position: relative;

  & + .media-box {
    margin-top: 70px;

    @media screen and (max-width: 1680px) {
      margin-top: 30px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 0;
    }

    & .media-box__descr {
      height: 500px;

      @media screen and (max-width: 1024px) {
        height: 460px;
      }

      @media screen and (max-width: 540px) {
        height: auto;
      }
    }
  }

  &__hold {
    position: relative;
    overflow: hidden;
  }

  &__wrap-img {
    position: relative;
    padding: 32.6% 0 0 49%;

    @media screen and (max-width: 1024px) {
      padding: 0;
    }

    &_left {
      float: left;

      @media screen and (max-width: 1024px) {
        float: none;
      }
    }

    &_right {
      float: right;

      @media screen and (max-width: 1024px) {
        float: none;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @media screen and (max-width: 1024px) {
      position: static;
    }
  }

  &__descr {
    height: 686px;

    @media screen and (max-width: 1440px) {
      height: 550px;
    }

    @media screen and (max-width: 1024px) {
      height: 460px;
    }

    @media screen and (max-width: 540px) {
      height: auto;
    }

    &_right {
      float: left;
      background: url(../../images/festival/border-1.png) no-repeat;
      background-size: 100%;
      width: 770px;
      padding-left: 312px;
      padding-right: 140px;
      padding-top: 108px;
      margin-left: -230px;
      margin-top: -50px;

      @media screen and (max-width: 1440px) {
        width: 720px;
        margin-left: -260px;
      }

      @media screen and (max-width: 1024px) {
        width: 704px;
        margin: -90px auto 0;
        float: none;
        padding: 123px 136px 116px 155px;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
        padding: 116px 136px 116px 155px;
      }

      @media screen and (max-width: 540px) {
        height: auto;
        background-size: 100% 100%;
      }

      @media screen and (max-width: 480px) {
        padding: 116px 90px 108px 112px;
      }

      @media screen and (max-width: 415px) {
        padding: 20px 15px;
        background: none;
        margin: 0 0 10px;
      }
    }

    &_left {
      float: right;
      background: url(../../images/festival/border-2.png) no-repeat;
      background-size: 100%;
      width: 820px;
      padding-left: 160px;
      padding-right: 290px;
      padding-top: 122px;
      margin-right: -230px;
      margin-top: -50px;

      @media screen and (max-width: 1440px) {
        width: 730px;
        padding-left: 130px;
        padding-top: 114px;
        margin-right: -260px;
      }

      @media screen and (max-width: 1024px) {
        width: 704px;
        margin: -74px auto 0;
        float: none;
        padding: 110px 140px 120px 112px;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
        padding: 98px 140px 120px 112px;
      }

      @media screen and (max-width: 540px) {
        height: auto;
        background-size: 100% 100%;
      }

      @media screen and (max-width: 480px) {
        padding: 104px 102px 120px 90px;
      }

      @media screen and (max-width: 415px) {
        padding: 20px 15px;
        background: none;
        margin: 0 0 10px;
      }
    }
  }

  &__text {
    font-family: 'OpenSans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 32px;
    font-size: 14px;

    @media screen and (max-width: 1440px) {
      line-height: 28px;
      font-size: 12px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }

    @media screen and (max-width: 767px) {
      font-size: 13px;
    }

    &_bold {
      font-family: $ff-bb;
    }
  }

  &__arrow {
    position: absolute;
    right: 0;
    margin: auto;
    width: 400px;
    height: 280px;
    background: url(../../images/festival/arrow-big.png) no-repeat center;
    background-size: 100%;
    bottom: 0;
    left: -80px;

    @media screen and (max-width: 1680px) {
      width: 360px;
      height: 257px;
    }

    @media screen and (max-width: 1440px) {
      width: 250px;
      height: 180px;
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}